<div class="chatbot_button" id="chatbotButton">
    Chatbot
</div>

<div class="chatbot_modal" id="chatbotDialog">
    <iframe
        allow="microphone;"
        width="350"
        height="430"
        src="https://console.dialogflow.com/api-client/demo/embedded/78abbb0a-6f3f-419b-882a-dda4a76a2950">
    </iframe>
</div>