<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head> 
 
 <footer class="footer">
            <div class="container footer-container">
                <div class="row footer-row">
                    <div class="footer-col">
                        <h4>company</h4>
                        <ul>
                            <li><a href="/aboutUs">about us</a></li>
                            <li><a href="/aboutUs">privacy policy</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>get help</h4>
                        <ul>
                            <li><a href="/contactUs">FAQ</a></li>
                            <li><a href="/contactUs">Feedback</a></li>
                            <li><a href="/subscription">Subscription Plans</a></li>
                            <li><a href="/savingplanner">Savings Planner</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>services</h4>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/leaderboardView">Leaderboard</a></li>
                            <li><a href="/userQuiz">Quiz</a></li>
                            <li><a href="/workshops">Workshops</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>follow us</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
       </footer>