 <footer class="footer">
            <div class="container footer-container">
                <div class="row footer-row">
                    <div class="footer-col">
                        <h4>company</h4>
                        <ul>
                            <li><a href="/aboutUs">about us</a></li>
                            <li><a href="#">privacy policy</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>get help</h4>
                        <ul>
                            <li><a href="/contactUs">FAQ</a></li>
                            <li><a href="/feedbackForm">Feedback</a></li>
                            <li><a href="#">Agent Registration</a></li>
                            <li><a href="#">payment options</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>services</h4>
                        <ul>
                            <li><a href="#">buying properties</a></li>
                            <li><a href="#">selling properties</a></li>
                            <li><a href="#">property agent list</a></li>
                            <li><a href="#">schedule</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>follow us</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
       </footer>