<!--Guest Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a href="/"><img src="images/logo.png" width="100" height="50"></a>
    <div class="header collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <div class="dropdown" data-dropdown>
                    <button class="nav-link" data-dropdown-button>Properties &#x25BE;</button>
                    <div class="dropdown-menu information-grid">
                        <div>
                        <!-- <div class="dropdown-heading"></div> -->
                        <div class="dropdown-links">
                            <a href="/buyHouse" class="nav-link">Buying</a>
                            <a href="/sellHouse" class="nav-link">Selling</a>
                        </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown" data-dropdown>
                    <button class="nav-link" data-dropdown-button>Property Agents &#x25BE;</button>
                    <div class="dropdown-menu information-grid">
                    <div>
                        <!-- <div class="dropdown-heading"></div> -->
                        <div class="dropdown-links">
                        <a href="/findAgents" class="nav-link">Find Agents</a>
                        <a href="/schedule" class="nav-link">Schedule</a>
                        <a href="/agentListProperty" class="nav-link">List Property</a>
                        </div>
                    </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown" data-dropdown>
                    <button class="nav-link" data-dropdown-button><a href="/contactUs" class="link-button">Contact Us</a></button>
                </div>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-dropdown-button><a href="/aboutUs" class="link-button">About Us </a></button>
            </li>
        </ul>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <a href="/login"><button class="login-btn btn btn-light my-2 my-sm-0" data-dropdown-button>Login</button></a>
        <a href="/register"><button class="login-btn btn btn-light my-2 my-sm-0" data-dropdown-button>Sign Up</button></a>
</nav>