{{#if success_msg}}
    <div class="alert alert-success"><i style="color: blue;">{{success_msg}}</i>;</div>
{{/if}}

{{#if error_msg}}
    <div class="alert alert-danger"><i style="color: red;">{{error_msg}}</i>;</div>
{{/if}}