<!--User Navbar-->
<div class="navbar-color">
<nav class="navbar navbar-expand-lg navbar-light  fixed-top">
    <a href="/"><img src="images/bipjlogo.png" width="100" height="50"></a>
    <div class="header collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <div class="dropdown" data-dropdown>
                    <button class="nav-link" data-dropdown-button><a href="/aboutUs" class="link-button">About Us</a></button>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown" data-dropdown>
                    <button class="nav-link" data-dropdown-button><a href="/workshops" class="link-button">Workshops</a></button>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown" data-dropdown>
                    <button class="nav-link" data-dropdown-button><a href="/userQuizList" class="link-button">Courses</a></button>
                </div>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-dropdown-button><a href="/subscription" class="link-button">Subscription Plans </a></button>
            </li>
             <li class="nav-item">
                <button class="nav-link" data-dropdown-button><a href="/savingplanner" class="link-button">Savings Planner </a></button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-dropdown-button><a href="/contactUs" class="link-button">Contact Us</a></button>
            </li>
        </ul>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Profile Dropdown -->
    <div class="dropdown" data-dropdown>
        <button class="nav-link " data-dropdown-button >Profile &#x25BE; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </button>
        <div class="dropdown-menu information-grid">
            <div>
                <div class="dropdown-links user-dropdown">
                    <a href="/userSetProfile" class="nav-link">My Profile</a>
                    <a href="/logout" class="nav-link">Log Out</a>
                </div>
            </div>
        </div>
</nav>
</div>