<head>
    <link rel="stylesheet" href="/css/aboutUs.css">
</head>
<div class="container-sm py-5">
    <div class="row">
        <div class="container-sm">
            <div class="row">
                <div class="col-12">
                    <h4>Who We Are</h4>
                </div>
            </div>
        </div>
        <div class="container-sm py-5">
            <div class="row">
                <div class="col-6">
                    <p>
                        Welcome to FinancialFlare, where we illuminate your path to financial freedom!
                        Our mission is to empower individuals with the knowledge and tools needed to take control of their financial future.
                        Whether you're just starting your financial journey or looking to refine your strategies, we provide comprehensive resources,
                        including interactive courses, insightful articles, and practical tools for tracking savings and managing investments.
                    </p>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="container-sm pb-5">
                            <div class="row">
                                <!-- Icon -->
                                <div class="col-2">
                                    <img src="../public/images/bipjlogo.png" width="50px" height="50px">
                                </div>
                                <!-- Text -->
                                <div class="col-10">
                                    <p>Our user-friendly platform allows you to monitor your savings progress in real-time, providing a clear and accurate picture of your financial health.</p>
                                </div>
                            </div>
                        </div>
                        <div class="container-sm pb-5">
                            <div class="row">
                                <!-- Icon -->
                                <div class="col-2">
                                    <img src="../public/images/bipjlogo.png" width="50px" height="50px">
                                </div>
                                <!-- Text -->
                                <div class="col-10">
                                    <p>The visual tools and personalized insights we offer help you stay motivated and disciplined, ensuring that you stay on track towards achieving your financial objectives.</p>
                                </div>
                            </div>
                        </div>
                        <div class="container-sm pb-5">
                            <div class="row">
                                <!-- Icon -->
                                <div class="col-2">
                                    <img src="../public/images/bipjlogo.png" width="50px" height="50px">
                                </div>
                                <!-- Text -->
                                <div class="col-10">
                                    <p>We provide an interactive and engaging way to reinforce your understanding of key financial concepts, from budgeting and saving to investing and retirement planning.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>