<head>
    <title>Admin Users View</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/adminAgentView.css">
    <script src="/js/adminUsersView.js" defer></script>
</head>
<body>
    <div class="tabbed-groups">
        <h1 class="text-center">Customers</h1>
        <div class="search">
            <span class="search-icon material-symbols-outlined">search</span>
            <input class="search-input" type="search" placeholder="Search Customer">
            <button class="filter-icon"><span class="material-symbols-outlined">tune</span></button>
        </div>
        
        <div class="tabcontent show">
            <!-- Content for Customers tab -->
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="customersTable">
                    <!-- Customers will be populated here -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal for Customer Profile -->
    <div id="customerModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Customer Profile</h2>
            <div id="customerProfileContent">
                <!-- Customer details will be populated here -->
            </div>
        </div>
    </div>
</body>
