<head>Create Quizzes for Users</head>
<form action="/createQuiz" method="POST">
    <label for="quizID" >Quiz ID</label>
    <input type="text" id="quizID" name="quizID" placeholder="Enter Quiz ID"><br>
    <label for="quizModule">Module</label>
    <select id="quizModule" name="quizModule">
        <option value="1">Module 1</option>
        <option value="2">Module 2</option>
        <option value="3">Module 3</option>
        <option value="4">Module 4</option>
        <option value="5">Module 5</option>
    </select>
    {{!-- Question 1 --}}
    <h3>Question 1</h3>
    <div>
        <div class="input-group">
            <label for="quizName">Quiz Name</label>
            <input type="text" id="quizName" name="quizName" placeholder="Enter Quiz Name">
        </div>
        <div>
            <label for="quizOption1">First Option</label>
            <input type="radio" id="q1O1" name="quizOption">
            <input type="text" placeholder="Enter your first name">
            
            <label for="quizOption2">Second Option</label>
            <input type="radio" id="q1O2" name="quizOption">
            <input type="text" placeholder="Enter your first name">
            
            <label for="quizOption3">Third Option</label>
            <input type="radio" id="q1O3" name="quizOption">
            <input type="text" placeholder="Enter your first name">
            
            <label for="quizOption4">Fourth Option</label>
            <input type="radio" id="q1O4" name="quizOption">
            <input type="text" placeholder="Enter your first name">
        </div>
    </div>

    {{!-- Question 2 --}}
    <h3>Question 2</h3>
    <div>
        <div class="input-group">
            <label for="quizName">Quiz Name</label>
            <input type="text" id="quizName" name="quizName" placeholder="Enter Quiz Name">
        </div>
        <div>
            <label for="quizOption1">First Option</label>
            <input type="radio" id="q2O1" name="quizOption">
            <input type="text" placeholder="Enter your first name">
            
            <label for="quizOption2">Second Option</label>
            <input type="radio" id="q2O2" name="quizOption">
            <input type="text" placeholder="Enter your first name">
            
            <label for="quizOption3">Third Option</label>
            <input type="radio" id="q2O3" name="quizOption">
            <input type="text" placeholder="Enter your first name">
            
            <label for="quizOption4">Fourth Option</label>
            <input type="radio" id="q2O4" name="quizOption">
            <input type="text" placeholder="Enter your first name">
        </div>
    </div>
    
    {{!-- Question 3 --}}
    <h3>Question 3</h3>
    <div>
        <div class="input-group"></div>
            <label for="quizName">Quiz Name</label>
            <input type="text" id="quizName" name="quizName" placeholder="Enter Quiz Name">
        </div>
        <div>
            <label for="quizOption1">First Option</label>
            <input type="radio" id="q3O1" name="quizOption">
            <input type="text" placeholder="Enter your first name">
            
            <label for="quizOption2">Second Option</label>
            <input type="radio" id="q3O2" name="quizOption">
            <input type="text" placeholder="Enter your first name">
            
            <label for="quizOption3">Third Option</label>
            <input type="radio" id="q3O3" name="quizOption">
            <input type="text" placeholder="Enter your first name">
            
            <label for="quizOption4">Fourth Option</label>
            <input type="radio" id="q3O4" name="quizOption">
            <input type="text" placeholder="Enter your first name">
        </div>
    </div>

    {{!-- Question 4 --}}
    <h3>Question 4</h3>
    <div>
        <div class="input-group"></div>
            <label for="quizName">Quiz Name</label>
            <input type="text" id="quizName" name="quizName" placeholder="Enter Quiz Name">
        </div>
        <div>
            <label for="quizOption1">First Option</label>
            <input type="radio" id="q4O1" name="quizOption">
            <input type="text" placeholder="Enter your first name">
            
            <label for="quizOption2">Second Option</label>
            <input type="radio" id="q4O2" name="quizOption">
            <input type="text" placeholder="Enter your first name">
            
            <label for="quizOption3">Third Option</label>
            <input type="radio" id="q4O3" name="quizOption">
            <input type="text" placeholder="Enter your first name">
            
            <label for="quizOption4">Fourth Option</label>
            <input type="radio" id="q4O4" name="quizOption">
            <input type="text" placeholder="Enter your first name">
        </div>
    </div>

    {{!-- Question 5 --}}
    <h3>Question 5</h3>
    <div>
        <div class="input-group"></div>
            <label for="quizName">Quiz Name</label>
            <input type="text" id="quizName" name="quizName" placeholder="Enter Quiz Name">
        </div>
        <div>
            <label for="quizOption1">First Option</label>
            <input type="radio" id="q5O1" name="quizOption">
            <input type="text" placeholder="Enter your first name">
            
            <label for="quizOption2">Second Option</label>
            <input type="radio" id="q5O2" name="quizOption">
            <input type="text" placeholder="Enter your first name">
            
            <label for="quizOption3">Third Option</label>
            <input type="radio" id="q5O3" name="quizOption">
            <input type="text" placeholder="Enter your first name">
            
            <label for="quizOption4">Fourth Option</label>
            <input type="radio" id="q5O4" name="quizOption">
            <input type="text" placeholder="Enter your first name">
        </div>
    </div>

    <button type="submit">Submit Quiz</button>
</form> 