<head>
    <link rel="stylesheet" href="/css/contactUs.css">
    <script src="js/adminWorkshops.js" defer></script>
</head>

<h1 style="text-align:center;">Contact Us</h1>
<p style="text-align:center;">Any question or remarks? Just write us a message!</p>
<div class="row wrapdiv">
    <div class="col-md-4 info-panel">
        <h2>Contact Information:</h2>
        <div style="margin-bottom:80px;">
            Where to find us:
        </div>
        <div style="margin-bottom:40px;">
            <span><img src="images/phoneSign.png" width="50" height="50"></span>+65 6451 5115
        </div>
        <div style="margin-bottom:40px;">
            <span><img src="images/emailsign.png" width="50" height="50"></span>FinancialFlare420@gmail.com
        </div>
        <div>
            <span><img src="images/map-marker.png" width="50" height="50"></span>180 Ang Mo Kio Ave 8, Singapore 569830
        </div>
    </div>
    <div class="col-md-8 contact-form">
        <form action="/contactUs" method="post" id="contactForm">
            <table class="formtable">
                <tr>
                    <td class="label">
                        <label for="contactName">Full Name:</label>
                    </td>
                    <td class="inputbox">
                        <input type="text" id="contactName" name="contactName" 
                            placeholder="E.g John Smith" 
                            value="{{#if customer}}{{customer.Customer_fName}} {{customer.Customer_lName}}{{/if}}">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="contactEmail">Email:</label>
                    </td>
                    <td class="inputbox">
                        <input type="email" id="contactEmail" name="contactEmail" 
                            placeholder="E.g JohnSmith@gmail.com" 
                            value="{{#if customer}}{{customer.Customer_Email}}{{/if}}">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="phoneNumber">Phone Number:</label>
                    </td>
                    <td class="inputbox">
                        <input type="tel" pattern="[0-9]{8}" id="phoneNumber" name="phoneNumber" placeholder="E.g: 87992400" value="{{#if customer}}{{customer.Customer_Phone}}{{/if}}" required>
                    </td>
                </tr>
            </table>
            <br>
            <div style="padding-top:40px;">Select Subject:</div>
            <input type="radio" id="generalInquiry" name="messageType" value="General Inquiry">
            <label for="generalInquiry">General Inquiry</label>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <input type="radio" id="feedback" name="messageType" value="Feedback">
            <label for="feedback">Feedback</label>
            <br>
            <label for="message" style="padding-top:40px;">Message</label>
            <br>
            <input style="margin-bottom:20px;width:100%;" type="text" id="message" name="message" placeholder="Write your message..">
            <br>
            <button class="submitButton" type="submit">Send Message</button>
        </form>
    </div>
</div>

<script>
    // JavaScript to handle form submission and show an alert
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('contactForm');
        
        form.addEventListener('submit', function (event) {
            // Prevent the default form submission
            event.preventDefault();

            // Show an alert
            alert('Your message has been sent successfully!');

            // Optionally, submit the form after showing the alert
            form.submit();
        });
    });
</script>