<head>
    <link rel="stylesheet" href="/css/home.css">
</head>
<div class="container-sm" style="background-color: blue;">
    <div class="row d-flex">
        <div class="col-6" style="background-color: white;">
            <div class="float-right">
                <h4>Expand your financial literacy with <b>Financial Flare</b></h4>
                <div class="pt-3">
                <p>We allow users to enhance their financial literacy. Our services will provide you with all the needed insights into the world of finance,
                    especially for beginners. Be it banking, insurance, investments or loans - our extensive range of services will allow you to expand your knowledge.
                    </p>
                    </div>
                <div class="pt-3">
                <p>See more information -></p>
                </div>
            </div>
        </div>
        <div class="col-6" style="background-color: red;">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ZEcqHA7dbwM?si=z8KaN_EwM6y_a1Pd"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                </iframe>
        </div>
    </div>
</div>