<head>
  <link rel="stylesheet" href="/css/home.css">
</head>
<div class="container-sm py-5">
  <div class="row">
    <div class="col-6">
      <div class="float-right">
        <h4>Expand your financial literacy with <b>Financial Flare</b></h4>
        <div class="pt-3">
          <p>We allow users to <span class="redirect-link-button">enhance their financial literacy.</span> Our services will provide you with all the needed insights into the world of finance,
            especially for beginners. Be it banking, insurance, investments or loans - our extensive range of services will allow you to expand your knowledge.
          </p>
        </div>
        <div class="pt-3">
          <p><a href="/aboutUs" class="redirect-link-button">See more information -></a></p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/8Xzfceq29ts?si=EJvVvulqmjZVs2pX"
              title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
      </iframe>
    </div>
  </div>

  <div class="row">
    <div class="col-12 py-5">
      <h2>Meet the People<br><b>We are Working With</b></h2>
    </div>
  </div>

  <div class="ad-background">
    <div class="row">
        <div class="col-3"><a href="https://singaporeblockchain.org/" target="blank"><img src="images/BAS-Logo-Small.png"/ height="100" width="200"></a></div>
        <div class="col-3"><a href="https://www.tvadeclipse.com/" target="blank"><img src="images/adclipse.png"/ height="100" width="200"></a></div>
        <div class="col-3"><a href="https://www.fintechfestival.sg/agenda" target="blank"><img src="images/fintechfestival.png"/ height="100" width="200"></a></div>
        <div class="col-3"><a href="https://singaporefintech.org/" target="blank"><img src="images/SFA.jpg"/ height="100" width="200"></div>
    </div>
  </div>
  
</div>