<form action="/register" method="post">
    <div class="loginContainer">
        <div class="left">
            <h2 class="text-center">Sign Up Now</h2>
        </div>
    <div class="right">
        <h2 class="text-center">Sign Up</h2>
        <div class="name d-flex">
            <div class="firstName d-block">
                <label for="fName">First name</label>
                <input type="text" name="fName" id="fName" placeholder="Enter your first name">
            </div>
            <div class="firstName d-block">
                <label for="lName">Last name</label>
                <input type="text" name="lName" id="lName" placeholder="Enter your last name">
            </div>
        </div>
            <div class="email d-block">
                <label for="email">Email</label>
                <br>
                <input type="text" class="w-100" name="email" id="email" placeholder="Example: JohnLim@gmail.com">
            </div>
             <div class="phone d-block">
                <label for="phone">Phone Number</label>
                <input type="text" class="w-100" name="phone" id="phone" placeholder="Must be a valid 8 digit phone number that starts with 8 or 9">
            </div>
             <div class="password d-block">
                <label for="password">Password</label>
                <input type="text" class="w-100" name="password" id="password" placeholder="Minimum 8 characters including,1 Uppercase letter, 1 Lowercase letter, numbers">
            </div>
             <div class="cPassword d-block">
                <label for="cPassword">Confirm Password</label>
                <input type="text" class="w-100" name="cPassword" id="cPassword" placeholder="Re-enter password">
            </div>
            <br>
            <input type="submit" class="btn btn-info" value="Sign Up">
    </div>
</form>