<div class="subscriptioncontainer ml-5 mr-5">
    <div class="headertext">
        <h1 class="text-center">Subscription Plans</h1>
        <p class="text-center">Join our membership to enjoy all these benefits below!</p>
    </div>
    <div class="subscriptionplanscontainer d-flex">
        
        <div class="subscriptionplan plan1">
            <div class="planheader">
                <h1>Free Trial</h1>
            </div>
            <div class="planbody">
                <div class="d-flex"><i class="fa fa-check fa-2x"></i>
                    <p class="mt-1 mb-1">Able to attend 2 workshops per month</p>
                </div>

                <div class="d-flex"><i class="fa fa-check fa-2x"></i>
                    <p class="mt-1 mb-1">Able to unlock 1 advance courses of your choice</p>
                </div>
                <div class="d-flex"><i class="fa fa-check fa-2x"></i>
                    <p class="mt-1 mb-1">Able to participate in the quiz</p>
                </div>
            </div>
            <div class="planfooter">
                <input type="submit" class="btn btn-info" value="Select" name="pay" id="pay">
            </div>
        </div>
        <div class="subscriptionplan plan2">
            <div class="planheader">
                <h1>Standard</h1>
            </div>
            <div class="planbody">
                <div class="d-flex"><i class="fa fa-check fa-2x"></i>
                    <p class="mt-1 mb-1">Able to attend 2 workshops per month</p>
                </div>

                <div class="d-flex"><i class="fa fa-check fa-2x"></i>
                    <p class="mt-1 mb-1">Able to unlock 1 advance courses of your choice</p>
                </div>
                <div class="d-flex"><i class="fa fa-check fa-2x"></i>
                    <p class="mt-1 mb-1">Able to participate in the quiz</p>
                </div>
            </div>
            <div class="planfooter">
                <input type="submit" class="btn btn-info" value="Select" name="pay" id="pay">
            </div>
        </div>
        <div class="subscriptionplan plan3">
            <div class="planheader">
                <h1>Advance</h1>
            </div>
            <div class="planbody">
                <div class="d-flex"><i class="fa fa-check fa-2x"></i>
                    <p class="mt-1 mb-1">Able to attend 2 workshops per month</p>
                </div>

                <div class="d-flex"><i class="fa fa-check fa-2x"></i>
                    <p class="mt-1 mb-1">Able to unlock 1 advance courses of your choice</p>
                </div>
                <div class="d-flex"><i class="fa fa-check fa-2x"></i>
                    <p class="mt-1 mb-1">Able to participate in the quiz</p>
                </div>
            </div>
            <div class="planfooter">
                <input type="submit" class="btn btn-info" value="Select" name="pay" id="pay">
            </div>
        </div>
        <div class="subscriptionplan plan4">
            <div class="planheader">
                <h1>Premium</h1>
            </div>
            <div class="planbody">
                <div class="d-flex"><i class="fa fa-check fa-2x"></i>
                    <p class="mt-1 mb-1">Able to attend 2 workshops per month</p>
                </div>

                <div class="d-flex"><i class="fa fa-check fa-2x"></i>
                    <p class="mt-1 mb-1">Able to unlock 1 advance courses of your choice</p>
                </div>
                <div class="d-flex"><i class="fa fa-check fa-2x"></i>
                    <p class="mt-1 mb-1">Able to participate in the quiz</p>
                </div>
            </div>
            <div class="planfooter">
                <input type="submit" class="btn btn-info" value="Select" name="pay" id="pay">
            </div>
        </div>

    </div>

</div>