<div class="subscriptioncontainer ml-5 mr-5">
    <div class="headertext">
        <h1 class="text-center">Subscription Plans</h1>
        <p class="text-center">Join our membership to enjoy all these benefits below!</p>
    </div>
    <div class="subscriptionplanscontainer">

        {{#each plans}}
        <div class="subscriptionplan plan{{this.plan_ID}}">
            <div class="planheader">
                <h1>{{this.plan_name}}</h1>
            </div>
            <div class="planbody">
                {{#each (parseJson this.description)}}
                <div class="d-flex">
                    <i class="fa fa-check fa-2x"></i>
                    <p class="mt-1 mb-1">{{this}}</p>
                </div>
                {{/each}}
            </div>
            <div class="planfooter">
                <form action="/subscriptions/select/{{this.plan_ID}}" method="POST">
                    <input type="submit" class="btn btn-info" value="Select" name="pay" id="pay">
                </form>
            </div>
        </div>
        {{/each}}


    </div>
</div>