.info-panel{
    background-color:#FFD43B;
    color:black;
    border-radius:10px 0px 0px 10px;
    padding-top:30px;
}

.contact-form{
    background-color:white;
    border-radius:0px 10px 10px 0px;
    padding-top:30px;
}

.wrapdiv{
    width:80%;
    height:auto;
    padding-bottom:20px;
    margin-left:auto;
    margin-right:auto;
}

/* Form styling */

.contact-form label {
    font-weight: bold;
    margin-top: 15px;
    color: #333;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"] {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 50%;
    box-sizing: border-box;
}

.contact-form input[type="radio"] {
    margin-right: 5px;
}

.contact-form input[type="radio"] + label {
    margin-right: 20px;
    color: #333;
}

.submitButton {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
    float:right;
    margin-bottom:20px;
}

.contact-form .submitButton:hover {
    background-color: grey;
}

.formtable{
    width:100%;
}

.label{
    width:15%;
}