.loginContainer {
    height: 500px;
    width: 60%;
    display: flex;
    font-family: 'Koulen';
    border:4px solid rgb(195, 161, 37);
    border-radius: 5px;
    margin: 0px auto;
}

.left {
    width:50%;
    padding:10px;
    background-color: #FFD43B;

}
.right {
    width:50%;
    padding:10px;
    background-color:white;
}
.left h2{
    color:darkblue;
}
.right h2{
    color:rgb(195, 161, 37);
}

.loginContainer input[type="text"]::placeholder {
    font-size: 10px;
    text-align: center;
}

/* Subscription Plans */
.fa-check {
    color:green;
}

.headertext {
    background-color:orange;
    width:100%;
    height:100px;
    margin-top:10px;
    margin-bottom:10px;
}

.headertext {
    color:white;
}
.subscriptionplanscontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
}


.subscriptionplan {
    box-shadow: 7px 7px 8px grey;
    border-radius: 25px;
    background: white;
    border: 1px solid #ccc;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; /* Prevent overflow */
}

.planheader {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: lightgreen;
}

.planheader h1 {
    text-align: center;
    text-shadow: 2px 1px 5px grey;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.price {
    margin:50px;
    border-top: 1px solid black; 
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom:0px;
}

.plan1 .planheader {
    background-color: #8BC34A; 
}

.plan2 .planheader {
    background-color: #03A9F4;
}

.plan3 .planheader {
    background-color: #FF9800; 
}

.plan4 .planheader {
    background-color: #E91E63; 
}

.plan5 .planheader {
    background-color: #9C27B0;
}

.plan6 .planheader {
    background-color: #FFC107; 
}

.plan7 .planheader {
    background-color: #FF5722; 
}

.plan8 .planheader {
    background-color: #673AB7; 
}

.plan9 .planheader {
    background-color: #4CAF50; 
}

.plan10 .planheader {
    background-color: #2196F3; 
}


.planbody {
    margin: 20px;
    padding: 10px;
    flex-grow: 1;
    margin-bottom:0px;
}

.planfooter {
    margin: 5px;
    display: grid;
    place-items: center;
    margin-top: auto; /* Push footer to the bottom */
}

/*  Admin subscription*/
.subscription-table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    
}

.subscription-table th,
.subscription-table td {
    background-color:white;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.subscription-table th {
    background-color: #f2f2f2;
    color: #333;
}

.subscription-table tr:hover {
    background-color: #f9f9f9;
}

.subscription-tabs {
    width: 80%; 
    margin: 0 auto; 
    display: flex; 
    margin-bottom:10px;
}

.subscription-tab {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    background-color: #f8f8f8;
    transition: background-color 0.3s;
    text-align: center; /* Center text */
}

.subscription-tab.active {
    background-color: grey;
    color: white;
}

.addPlan {
    
    width:70%;
    text-align: right;
}
.addPlan a {
    border-radius: 5px;
    padding:10px;
    color:white;
    background-color: orange;
}

.addplancontainer {
    border:3px solid orange;
    width:40%;
    margin:0 auto;
    padding-top:30px;
    padding-bottom:30px;
    border-radius: 5px;
    background-color: white;
}
.addplancontainer h1 {
    color:orange;
}
.inputscontainer {
    width:90%;
    margin:0 auto;
}
.addplanbtn {
    width:100%;

}
.addplanbtn button{
    margin:0 auto;  
    background-color: orange;
    padding:10px;
    border-radius: 5px;
    color:black;
    border:3px solid black;
}

/* editSubscription form */
.editplancontainer {
    border: 3px solid orange;
    width: 40%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    background-color: white;
}

.editplancontainer h1 {
    color: orange;
    text-align: center;
}

.editinputscontainer {
    width: 90%;
    margin: 0 auto;
}

.editplanbtn {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.editplanbtn button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editplanbtn button:hover {
    background-color: darkorange;
}

textarea {
    resize: vertical;
    min-height: 100px;
}


/* Media Queries for Responsiveness */
@media (max-width: 1250px) {
    .subscriptionplanscontainer {
        
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
    }
    .price {
        font-size: 30px;}
}

@media (max-width: 1000px) {
    .subscriptionplanscontainer {
        grid-template-columns: repeat(2, 1fr); 
        
    }
    .price {
        font-size: 25px;}
}

@media (max-width: 600px) {
    .subscriptionplanscontainer {
        grid-template-columns: 1fr; /* 1 column */
    }
}
