.workshopTables{
    width:30%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping of items to the next line if they overflow */
    gap: 20px; /* Adds space between the tables */
    justify-content: center; /* Centers the tables horizontally */
}

.workshopImage{
    height:200px;
    border:1px solid;
    border-radius:20px solid;
}